In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("./fracture.csv")

        id sex  fracture  duration  age    wt     ht   bmi  Tscores  fnbmd  \
0        3   M         0      0.55   73  98.0  175.0  32.0     0.33   1.08
1        8   F         0     15.38   68  72.0  166.0  26.0    -0.25   0.97
2        9   M         0      5.06   68  87.0  184.0  26.0    -0.25   1.01
3       10   F         0     14.25   62  72.0  173.0  24.0    -1.33   0.84
4       23   M         0     15.07   61  72.0  173.0  24.0    -1.92   0.81
...    ...  ..       ...       ...  ...   ...    ...   ...      ...    ...
2211  9778   M         0      1.85   75  71.0  165.0  26.0    -2.33   0.76
2212  9779   F         0      1.78   72  58.0  155.0  24.0    -1.58   0.81
2213  9783   F         1      0.10   76  56.0  157.0  23.0    -3.58   0.57
2214  9784   M         0      1.74   73  82.0  169.0  29.0     1.25   1.19
2215  9797   F         1      0.10   88  57.0  171.0  19.0    -2.67   0.68

      lsbmd  fall  priorfracture  death
0     1.458     1              0      1
1     1.325     0              0      0
2     1.494     0              0      1
3     1.214     0              0      0
4     1.144     0              0      0
...     ...   ...            ...    ...
2211  1.067     0              0      0
2212  0.831     0              0      0
2213  0.875     0              0      0
2214  1.587     0              0      0
2215  0.906     0              0      0

[2216 rows x 14 columns]

In [5]:
df

,id,sex,fracture,duration,age,wt,ht,bmi,Tscores,fnbmd,lsbmd,fall,priorfracture,death
0,3,M,0,0.55,73,98.0,175.0,32.0,0.33,1.08,1.458,1,0,1
1,8,F,0,15.38,68,72.0,166.0,26.0,-0.25,0.97,1.325,0,0,0
2,9,M,0,5.06,68,87.0,184.0,26.0,-0.25,1.01,1.494,0,0,1
3,10,F,0,14.25,62,72.0,173.0,24.0,-1.33,0.84,1.214,0,0,0
4,23,M,0,15.07,61,72.0,173.0,24.0,-1.92,0.81,1.144,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2211,9778,M,0,1.85,75,71.0,165.0,26.0,-2.33,0.76,1.067,0,0,0
2212,9779,F,0,1.78,72,58.0,155.0,24.0,-1.58,0.81,0.831,0,0,0
2213,9783,F,1,0.10,76,56.0,157.0,23.0,-3.58,0.57,0.875,0,0,0
2214,9784,M,0,1.74,73,82.0,169.0,29.0,1.25,1.19,1.587,0,0,0
2215,9797,F,1,0.10,88,57.0,171.0,19.0,-2.67,0.68,0.906,0,0,0